@import url("global.css");

main {
  background: url("../images/background-subscription.png") no-repeat;
  background-size: cover;
}

.divider {
  width: 70%;
  height: 5px;
  background: var(--divider-bg-color);
}

.offer {
  text-align: center;
  font-size: 1.25rem;
}

.offer__price {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.offer__price--small {
  font-size: 1rem;
  font-weight: 300;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
}

.subscription__plans {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  margin: 2.5rem 0;
  perspective: 2000px;
  perspective-origin: top;
}

.subscription__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 33.5rem;
  min-height: 600px;
  padding: 2.5rem 3rem;
  border-radius: 0.5rem;
  background: var(--card-bg-color);
  transition: transform 1s ease-in-out;
}

.subscription__price {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
}

.subscription__price .text--small {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--text-color);
}

.subscription__description {
  text-align: left;
  margin: 1rem 0 4.8rem 0;
}

.subscription__description li {
  padding-left: 0.8rem;
  margin-top: 0.85rem;
}

.subscription__description li::marker {
  content: "+";
  font-size: 2.25rem;
}

.channels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem 0 7.8rem;
  padding: 1.5rem;
}

.channels__container {
  display: grid;
  grid-template-columns: repeat(6, 100%);
  grid-auto-flow: column;
  overflow: auto hidden;
  margin-top: 2.5rem;
  gap: 2.7rem;
}

.channels__card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  border-radius: 1rem;
  transition: transform 0.8s, background 0.8s, border 1s;
}

.channels__card:hover {
  border: 2px solid var(--tertiary-color);
}

.channels__card:nth-child(1):hover {
  background-image: url("/assets/images/hbo-hover_0.webp");
}

.channels__card:nth-child(2):hover {
  background-image: url("/assets/images/MAX-Hover.webp");
}

.channels__card:nth-child(3):hover {
  background-image: url("/assets/images/DC-Hover.webp");
}

.channels__card:nth-child(4):hover {
  background-image: url("/assets/images/WB-Hover.webp");
}

.channels__card:nth-child(5):hover {
  background-image: url("/assets/images/CN-Hover.png");
}

.channels__card:nth-child(6):hover {
  background-image: url("/assets/images/UCL-Hover.webp");
}

.channels__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
}

.channels__card:hover .channels__image {
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0%,
  10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  40%,
  100% {
    transform: rotate(0);
  }
}
