@import url("global.css");

body {
  background-image: url("../images/background-movies-series.png");
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  padding: 1.5rem;
  font-family: "Quicksand", cursive;
}

.menu {
  position: relative;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  gap: 1.5rem;
  padding: 40px;
  background-color: var(--form-bg-color);
  border-radius: 0.5rem;
}

.login__title {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.login__label {
  align-self: self-start;
  text-align: left;
}

.login__field {
  width: 100%;
  background: var(--form-field-bg-color);
  border: var(--form-field-border);
  border-radius: 8px;
  color: var(--text-color);
  align-self: self-start;
  padding: 1rem;
  font-size: 1rem;
}

.login__field::placeholder {
  color: var(--form-field-placeholder);
}

.login__field:invalid {
  border-color: var(--form-field-error);
}

.login__actions {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.75rem;
  margin-top: 1.5rem;
}

.login__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
}
